// Imports
@import "colours";
@import "fonts";



// Setup
html, body{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'main';
}



// Main App
.app{

    .palette{
        height: 120px;

        .swatches{
            height: 70px;
            background-image: url('../resources/checker.jpg');
            background-repeat: repeat;
        }

        .toolbar{
            height: 50px;
            background-color: $clr-white;
            -webkit-app-region: drag;
        }
    }

}
